* {
  padding: 0;
  margin: 0;
  font-family: "Hammersmith One", sans-serif;
}


.station {
  fill: #FAFAFA;
  stroke: black;
}

.route {
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text.label {
  font-size: 2em;
}
